<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         bootstrap="test/Bootstrap.php">
  <testsuites>
    <testsuite name="Unit Test">
      <directory suffix="Test.php">test/</directory>
      <exclude>./tests/Bootstrap.php</exclude>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>
</phpunit>